/* general stuff */

/*general formatting tags*/
h1,h2,h3,h4,h5,h6,p,blockquote,form,label,ul,ol,dl,fieldset,address{ }

h1{
	text-align:center;
	font-size: 2.0em;
}

h2{	text-align:center;
	font-size: 1.6em;
  }

h3{text-align:center;
   font-size: 1.3em;
  }
  
h4{
	text-align:left;
	font-size: 1.1em;
} 

h5{text-align:left;
   font-size: 1.0em;
  }
  
h6{text-align:left;
   font-size: 0.8em;
  }  
  
img {border:0 none;}

.small{font-size: 85%; }
  


body {
	margin:0;
	padding:0;
	font-family: verdana, arial, sans-serif;
	font-size: 75%;
	text-align: center;
}

a {
	text-decoration:  none;
	font-weight: bold;
	border: none;
 }

a:hover {
	text-decoration:  underline; 
	border: none;
 }
 
/* Layout */

#maindiv, #foreword {
	margin: auto;
	width: 1001px;
	position: relative;
	overflow: hidden;
}

#foreword {
	padding: 3px;
}

#foreword .nav {
	float: left;
}

#foreword h1.words {
	font: 10pt verdana;
	font-weight: bold;
	color: #b71717;
	float: right;
	margin: 0;
	padding: 0;
}

#leftcol { 
	/*position: absolute;
	top: 280px;
	left: 40px;*/
	clear: both;
	float: left;
	width: 350px;
	margin: 280px 0 6px 3px;
	text-align: left;
}	

#extraleft {
	margin: 180px 0 80px 0;
}

#extraleft .article {
	border: 2px solid white;
	background: black;
	color: white;
	opacity: .5;
	margin: 5px;
	padding: 5px 5px 29px 5px;
	width: 156px;
}

#extraleft .article {
	filter:alpha(opacity=50);
}  	
	
          
#maincolumn { 
	/*position: absolute;
	top: 277px;
	left: 353px;
	height: 435px;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: auto;
	*/
	width: 586px;
	min-height: 500px;
	margin: 277px 0 0 353px;
}

*+html #maincolumn {
	margin: 277px 0 0 323px;
}

* html #maincolumn {
	margin: 277px 0 0 323px;
}

/* that's weird */
*+html #content {
	padding: 0;
	position: relative;
	left: -20px;
}

* html #content {
	padding: 0;
	position: relative;
	left: -30px;
}

* html #maincolumn {
	height: 500px;
}

/*	    
#search{float: right;
        margin: 6px; }
        
#topmenu{ margin: 10px; }        
        
        
#banner { 
float:right;
margin:6px;
        border-right-width: 6px;
        border-right-style: double;
        border-bottom-width: 6px;
        border-bottom-style: double;
        }
        
#mylogo {float: left;
        margin: 20px;
	margin-top: 20px;
	margin-right: 20px;
	width: 120px;
	padding: 2px;
	text-align: center;
} 

#mylink { 
	text-decoration: none;
}
*/

          
/*
#user1, #user2{ width: 180px; float: left;}
#user3{ width: 360px; }
*/

#content{ 
	margin: 10px; 
	padding: 6px; 
	text-align: justify; 
}

#textlinks {
	width: 1001px;
	color: white;
	background: #b71717;
	margin: 10px auto;
	padding: 2px 0px;
	text-align: center;
}

#textlinks table {
	margin: auto;
}

#textlinks .moduletable {
	/*float: left;*/
	margin: auto;
}

#textlinks ul, #textlinks .sobi2MenuMod {
	clear: left;
	list-style: none;
	padding: 3px;
	margin: 3px;
}

#textlinks li {
	float: left;
	padding: 3px 25px 3px 25px;
}

#textlinks ul li a {
	font: normal 10pt arial;
	color: white;
	text-decoration: underline;
}
	
#banners {
	text-align: center;
}

#banners table {
	margin: auto;
}

#banners .moduletable {
	float: left;
	padding: 20px 3px;
}



/*
td.contentheading{ font-weight: bold; font-size: 1.2em; text-decoration: underline; }
td.modifydate, td.createdate{ font-size: 0.9em; font-style: italic; }

#rightcol{ width: 170px; 
          float: left;
          margin-left: 0px;}	
*/

/* hide */
#pathway, #accessibility, #source {
	display: none;
}

/* classes */

.sobi2CompDesc, .sobi2Footer, #sobi2PageNav {
	display: none;
}

div.module{ }

#leftcol div.module table{ 
	margin: 10px; padding: 1px; width: 160px; text-align: right;
} 
#leftcol div.module td{ text-align: right;} 
#rightcol div.module table{ margin: 10px; padding: 1px; width: 130px;} 

div.module h3{ 
	font: bold 1.9em helvetica; 
	margin: 10px; 
	text-align: left;
}
div.module td{ margin: 10px;}

#leftcol div.module{ margin-left: 0px; margin-bottom: 10px; }
#rightcol div.module{ margin-left: 0px; margin-bottom: 10px; }

div.mosimage_caption{ font-size: 0.8em; font-style: italic; }
table.pollstableborder{ text-align: left; }

#leftcol td{ padding-right: 2px; border-right-width: 2px; border-right-style: solid;border-left-width: 2px; border-left-style: solid;}
#leftcol td a:hover{ text-decoration: none; }


#topmenu ul
{
list-style: none;
padding: 0;
margin: 0;
float: right;
white-space: nowrap;
}


#topmenu ul li{
float: left;
margin: 0;
white-space: nowrap;
margin-right: 1px;	
}

#topmenu ul li a{
display: block;
padding-left: 5px;
padding-right: 10px;
text-decoration: none;
margin-left: 5px;
white-space: nowrap;
}

#mainmenu {
	margin: 0px 0 63px 73px
}

*+html #mainmenu {
	margin: 0px 0 63px 33px;
}

* html #mainmenu {
	margin: 0px 0 63px 23px;
}

#mainmenu h3 {
	padding: 1px 3px 18px 68px;
}	
#mainmenu ul {
	list-style: none;
	padding: 0;
}
     
#mainmenu ul li {
	text-align: left;
	padding: 1px 3px 18px 68px;
	background: transparent url(../images/flapper.png) no-repeat scroll 0 20px;
	width: 200px;
}

/* Ќе смог заставить iepngfix.htc работсть =( */
* html #mainmenu ul li {
	background: transparent url(../images/flapper.gif) no-repeat scroll 0 20px;
}

#mainmenu ul li a {
	color: white;
	font: 12pt helvetica;
}

#bottom {
	position: absolute;
	bottom: 35px;
	left: 10px;
	width: 182px;
	color: black;
	font: 1em arial;
	overflow: hidden;
}

#bottom a {
	color: black;
}
	

.componentheading {
	display: none;
}

table.sobi2Listing {
	text-align: left;
}

table.sobi2Listing td {
	height: 125px;
}

table.sobi2Listing td td {
	height: auto;
}

table.sobi2Listing td .sobiGalleryImage {
	float: left;
	width: 78px;
	height: 115px;
	border : 1px solid white;
	background: black;
	margin: 5px;
	overflow: hidden;
	text-align: center;
}

table.sobi2Listing td .sobiGalleryImage img {
	float: none;
	padding: 0;
}

table.sobi2Listing td p.sobi2ItemTitle {
	clear: none;
	margin: 1px;
	padding: 1px;
}

table.sobi2Listing span {
	display: block;
	float: right;
	clear: right;
	width: 150px;
}	

table.sobi2Listing span span {
	float: left;
	width: 70px;
	text-align: right;
	font-weight: bold;
	color: red;
	padding: 0 5px 0 0;
}

/* лева€ колонка */
table.sobi2Listing td.col0 .sobiGalleryImage {
	float: right;
}

table.sobi2Listing td.col0 {
	padding: 3px 2px 4px 9px;
}

table.sobi2Listing td.col1 {
	padding: 3px 0px 4px 2px;
}

table.sobi2Listing td.col0 span {
	float: left;
	clear: left;
	width: 130px;
}	

table.sobi2Listing td.col0 span span {
	float: left;
	width: 70px;
	text-align: right;
	font-weight: bold;
	color: red;
}

table.sobi2Details {
	border-left: none !important;
	border-top: none !important;
	background: #4B4B4B url(../images/gray-tcs.png) !important;
}

table.sobi2Details table.sobi_gallery td {
	background: black;
}

#sobi2outer {
	margin: 40px 5px;
}

#sobi2outer span {
	display: block;
	margin: 10px 5px;
}

#sobi2outer span span {
	display: inline;
}

#sobi2outer span span#sobi2Listing_field_extra_label {
	display: none;
}

/* HACK top menu */
#foreword .moduletable {
	float: left;
}

#foreword .moduletable table {
	width: auto;
}

#foreword .nav img {
	display: block;
	float: left;
}

#foreword .nav a {
	display: block;
	float: left;
	width: 17px;
	height: 15px;
	overflow: hidden;
	position: relative;
	left: -17px;
	font: 10px arial;
	opacity: 0;
}
	
#foreword .nav a {
	filter: alpha(opacity=0);
}

li {
	behavior: url("../iepngfix.htc");
}

table.sobi2Details table.sobi_gallery td.sobi_gallery_emptycell {
	background: transparent;
}

table.sobi2Details table.sobi_gallery td {
	vertical-align: top;
}

ul#mainlevel {
	padding: 2px 2px 2px 20px;
}
