body {
	text-align: center;
	background: #669977;
	height: 100%;
}

#worldBrowser { 
	text-align: left;
	margin: 10px auto;
	width: 95%;
	height: 95%;
	border: 1px solid white;
	background: #99bb99;
	position: relative;
}

.mainPanel {
	position: absolute;
	width: 80%;
}

.mainPanel .loginScreen {
	margin: 10px;
	padding: 10px;
	border: 1px solid white;
}

.mainPanel .loginScreen .label, 
.mainPanel .loginScreen button,
.mainPanel .loginScreen input {
	margin: 3px;
	float: left;
}

.clear {
	clear:both;
}

.mainPanel .playerScreen {
	margin: 10px;
	padding: 10px;
	border: 1px solid white;
}

.mainPanel .playerScreen .panel .playerName {
	color: #e8e8e8;
	font-weight: bold;
	float: left;
}

.mainPanel .playerScreen .panel BUTTON {
	margin: 3px;
	float: right;
}
	

.wait {
	background: #000000;
}

/*
  User list browser.
*/

.invitations {
	background: #ffffe0;
	border: 1px solid #ffff80;
	padding: 7px;
	margin: 7px;
}

.invitations .invitation input {
	float: left;
}

.invitations .invitation .label {
	padding: 2px;
}

	
.listBrowser {
	background: white;
	border: 1px dotted #bbffbb;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 20%;
}

.listBrowser .panel {
	position: absolute;
	bottom: 3px;
	left: 3px; 
	right: 3px;
	border: 1px solid gray;
	padding: 5px;
}

.listBrowser .panel button {
	float: left;
	margin: 4px;
}

.listBrowser .user {
	clear: both;
}

.listBrowser .user input,
.listBrowser .user div {
	float: left;
}
