.status, #status {
	position: absolute;
	background: #33337f;
	color: white;
}


.grid div, .busyGrid div {
	text-align: center;
	font: sans serif;
}
.grid div {
	border: 1px solid black;
}

.busyGrid div {
	border: 1px solid #e2e2e2;
}

h1 {
	font-size: 12px;
	font-weight: bold;
	background: #e3e3ff;
}

.person {
	color: #449922;
}

.withName {
	font-weight: bold;
}

.you {
	background: #449922;
	color: white;
}

.curtain {
	background: #1111cb;
	opacity: 0.4;
}

.comments {
	height: 200px;
	overflow: auto;
}

.roomBrowser {
	width: 420px;
}
